<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, vero totam at quos reprehenderit quidem atque quasi numquam accusantium facilis rem impedit, nesciunt vitae quis sequi id deserunt asperiores fugit!</p>
    </div>
</section>