<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, earum nihil. Est laborum sunt eligendi et autem voluptatum reiciendis ab molestias quod corrupti eos neque, incidunt illum ad, illo nisi?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iste sint asperiores aperiam fugit laudantium ipsum deserunt id, est magni iusto hic quibusdam sequi, itaque ullam harum necessitatibus expedita labore.</p>
    <a href="https://www.google.cl/" class="btn btn-primary">Google</a>
</div>